{% extends 'basehome.html.twig' %}

{% block title %}Editar Paso{% endblock %}

{% block body %}
<div class="form-container">
    <h1>{% if paso.id %}Editar Paso{% else %}Agregar Paso{% endif %}</h1>

    {{ form_start(form) }}
    {{ form_row(form.nombre, {'attr': {'class': 'formulario-input'}}) }}
    {{ form_row(form.descripcion, {'attr': {'class': 'formulario-input'}}) }}
    {{ form_row(form.numero, {'attr': {'class': 'formulario-input'}}) }}
    {{ form_row(form.receta, {'attr': {'class': 'formulario-input'}}) }}


            <button type="submit" class="btn">
                {% if paso.id %}Actualizar{% else %}Agregar{% endif %}
            </button>

    {{ form_end(form) }}

    <a href="{{ path('app_vista_receta') }}" class="btn-back">Volver a la lista</a>
</div>

{% endblock %}
