{% extends 'base.html.twig' %}

{% block title %}Registrar Email{% endblock %}

{% block body %}
    <div class="form-container">
        <h1>Registrarse</h1>
        <fieldset>
            {{ form_errors(registrationForm) }}
            <div class="formulario">
                {{ form_start(registrationForm) }}
                    {{ form_row(registrationForm.email) }}
                    {{ form_row(registrationForm.plainPassword) }}
                    {{ form_row(registrationForm.agreeTerms) }}

                    <button type="submit" class="btn">Registrarse</button>
                {{ form_end(registrationForm) }}
            </div>
        </fieldset>
        <a href="{{ path('app_home') }}" class="btn-back">Volver al inicio</a>

    </div>
{% endblock %}
