{% extends 'basehome.html.twig' %}

{% block title %}Crear Receta{% endblock %}

{% block body %}
<div class="form-container">
    <h1>Crear nueva Receta</h1>

    {{ form_start(form) }}
        {{ form_row(form.nombre, {'attr': {'class': 'formulario-input'}}) }}
        {{ form_row(form.png, {'attr': {'class': 'formulario-input'}}) }}
        {{ form_row(form.descripcion, {'attr': {'class': 'formulario-input'}}) }}
        {{ form_row(form.tiempoprep, {'attr': {'class': 'formulario-input'}}) }}
        {{ form_row(form.porciones, {'attr': {'class': 'formulario-input'}}) }}
        {{ form_row(form.dificultad, {'attr': {'class': 'formulario-input'}}) }}

        <div class="form-group">
            {{ form_label(form.categoria) }}
            <div class="form-check-group">
                {{ form_widget(form.categoria, {'attr': {'class': 'formulario-input'}}) }}
            </div>
        </div>

        <div class="form-group">
            {{ form_label(form.ingredientes) }}
            <div class="form-check-group">
                {{ form_widget(form.ingredientes, {'attr': {'class': 'formulario-input'}}) }}
            </div>
        </div>

        {{ form_row(form.usuario, {'attr': {'class': 'formulario-input'}}) }}

        <button type="submit" class="btn">{{ button_label|default('siguiente') }}</button>
    {{ form_end(form) }}

    <a href="{{ path('app_perfiluser') }}" class="btn-back">Volver</a>
</div>

<div class="instrucciones">
    <h2>Instrucciones:</h2>
    <ol>
        <li>  Primero coloque el nombre de la receta.</li>
        <li>  Luego, si lo desea y recomendamos, suba una imagen para su receta.</li>
        <li>  Coloque una breve descripcion de su receta.</li>
        <li>  complete los demas campos.</li>
        <li>  A continuacion clikee siguiente.</li>
</div>
{% endblock %}
